.mainContent {
  min-height: 100vh;
  transition: margin-left 0.3s ease, width 0.3s ease;
  width: 100%;
}

.mainContent.shifted {
  margin-left: 0;
}

@media (min-width: 769px) {
  .mainContent.shifted {
    margin-left: 280px;
    width: calc(100% - 280px);
  }
}
